streamlit
nltk
scikit-learn
spacy
pdfminer.six
docx2txt
python-docx
# ✅ The spaCy model (must be exactly like this):
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
